<main>
    <h1>Reestablecimiento de contraseña</h1>
    <h2>Ingrese a continuacion su nueva credencial para iniciar sesion </h2>
    <form>
        <input type="password" id="newPassword" class="newPassword" placeholder="Ingrese nueva contraseña">
        <input type="password" id="repeatPassword" class="repeatPassword" placeholder="Repita la nueva contraseña">
        <button type="submit" id="confirmButton" class="confirmButton">Confirmar</button>
    </form>
</main>

<script src="/scripts/resetpassword.js"></script>