<main>
    <form>
        <input type="password" id="newPassword" class="newPassword" placeholder="Ingrese nueva contraseña">
        <input type="password" id="repeatPassword" class="repeatPassword" placeholder="Repita la nueva contraseña">
        <button type="submit">Confirmar</button>
    </form>
</main>

<script src="/scripts/resetpassword.js"></script>