<main>
    <h1>Restablecer su contraseña</h1>

    <form>

        <input type="text" placeholder="Email de su cuenta" id="email" class="email">

        <button type="submit" class="botonRecuperar" id="botonRecuperar">Recuperar contraseña</button>

    </form>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/passrecovery.js"></script>