<main>
    <form action="POST">
        <h2>Codigo de verificacion</h2>
        <input type="text" id="email" class="email" placeholder="Correo electronico">
        <input type="text" id="code" class="code" placeholder="Codigo">
        <button type="button" id="verifyCode" class="verifyCode">Confirmar</button>
    </form>
</main>

<script src="/scripts/verify.js"></script>